@{
    ViewBag.Title = "Home Page";
    ;
}


    
    <div class="row">
        <form method="post">

            <div class="input-field col s6">
                <select name="genre" id="genre" multiple>
                    <option value="" disabled selected>Select a genre</option>
                    @foreach (var item in (ViewData["genre"] as List<Mooviez.Models.Genre>))
                    {
                        <option value="@item.id">@item.name</option>
                    }
                </select>

            </div>
            <div class="col s6" style="margin-top:25px">
                <button type="submit" name="submit" class="waves-effect waves-light btn">Submit</button>
            </div>
         
        </form>
        </div>
       @{ if (Model != null)
           {
            <div class="row">
                
                @foreach (var item in Model.results)
                {
                    <div class="col s4">
                        <div class="card">
                            <div class="card-image">
                                <img src="@ViewData["baseURL"]@ViewData["imageSize"]@item.poster_path">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                }
                
            </div>

           }
   }
    
